In [1]:
import pandas as pd

In [15]:
excel_file = 'random_data1.xlsx'
sheet_name = 'Sheet1'

In [16]:
df = pd.read_excel(excel_file, sheet_name=sheet_name)

In [17]:
df

,Title,Name,Filetype,Modified,Year,Country,Classification,Category_for_one_page,Application_type,path,...,Product_names,Diseases,pest,crop,efficacy,selectivity,Field_or_greenhouse_trial,Trial_report,summary,language
0,Title C,John Doe,pdf,1970-01-01 05:30:45,2017,UK,Class C,Category C,Type 3,/path/to/file2,...,Product 3(5),Disease 5,"Pest 5,Pest 6",Crop 2,High,Yes,Greenhouse,True,Summary A,Spanish
1,Title C,Emma Davis,xlsx,1970-01-01 05:30:45,2017,UK,Class C,Category C,Type 1,/path/to/file4,...,"Product 4(1), Product 5",Disease 6,"Pest 3,Pest 4",Crop 6,Medium,Yes,Field,False,Summary B,Spanish
2,Title B,Emma Davis,txt,1970-01-01 05:30:45,2017,Australia,Class C,Category C,Type 2,/path/to/file3,...,Product 3(1),Disease 6,"Pest 5,Pest 6",Crop 1,Medium,No,Greenhouse,True,Summary C,French
3,Title B,Emma Davis,doc,1970-01-01 05:30:45,2017,Australia,Class B,Category A,Type 2,/path/to/file1,...,"Product 1,Product 2(10), Product 3",Disease 5,Pest 7,Crop 1,High,No,Greenhouse,False,Summary D,Spanish
4,Title A,Jane Smith,xlsx,1970-01-01 05:30:45,2017,Canada,Class B,Category A,Type 1,/path/to/file3,...,Product 6,"Disease 2,Disease 3",Pest 2,"Crop 3,Crop 4",Low,Yes,Field,True,Summary E,French

In [6]:
df["Modified_date"] = pd.to_datetime('now')

In [2]:
import pandas as pd
time = pd.to_datetime('now')
print(time)

2024-02-22 17:27:41.424311

In [21]:
# Function to remove counts in parentheses and extra whitespace characters
import re
def remove_counts(text):
    # Remove counts in parentheses
    text = re.sub(r'\(\d+\)', '', text)
    # Remove extra whitespace characters
    text = re.sub(r'\s+', ' ', text)
    return text.strip()

In [22]:
df['Product_names'] = df['Product_names'].apply(remove_counts)

In [19]:
df['Product_names'] = df['Product_names'].str.strip()

In [23]:
df['Product_names']

0                         Product 3
1              Product 4, Product 5
2                         Product 3
3    Product 1,Product 2, Product 3
4                         Product 6
Name: Product_names, dtype: object

In [11]:
df['Field_or_greenhouse_trial'] = df['Field_or_greenhouse_trial'].str.lower().replace({'greenhouse':'green-house'})

In [12]:
df['Field_or_greenhouse_trial']

0    green-house
1          field
2    green-house
3    green-house
4          field
Name: Field_or_greenhouse_trial, dtype: object

In [26]:
import pandas as pd

# Example DataFrame
data = {'Product_names': ['Product 3(5)', 'Product 4(1), Product 5', 'Product 3(1)', 'Product 1,Product 2(10), Product 3', 'Product 6']}
df = pd.DataFrame(data)

# Function to remove counts in parentheses and strip extra spaces
import re

# Function to remove counts in parentheses and strip extra spaces
def remove_counts_and_spaces(text):
    # Remove counts in parentheses
    text = re.sub(r'\(\d+\)', '', text)
    # Remove extra whitespace characters around commas
    text = re.sub(r'\s*,\s*', ',', text)
    return text.strip()


# Remove extra spaces within the "Product_names" column
df['Product_names'] = df['Product_names'].apply(remove_counts_and_spaces)
print(df)

                   Product_names
0                      Product 3
1            Product 4,Product 5
2                      Product 3
3  Product 1,Product 2,Product 3
4                      Product 6

In [2]:
import pandas as pd
from datetime import datetime

# Get the present date
present_date = datetime.now()

# Create DataFrame
df = pd.DataFrame({'Present_Date_Column': [present_date]})

print(df)

         Present_Date_Column
0 2024-02-21 12:23:36.379924